body {
    height: 100%;
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.top {
    color:white;
    flex: 1 1 auto;
    background-color: #1F2937;
    padding:150px;
    padding-top: 10px;
    padding-bottom: 80px;
}
.top > .content {
    display:flex;
    justify-content: space-between;
}
.top > .content > .left {
    display:flex;
    flex-direction: column;
    color:#E5E7EB;
}
.top > .content > .right {
    display:flex;
    margin: 50px;
    margin-top: 0px;
    margin-right: 0px;
}
.right > img {
    height:250px;
    width: auto;
}
#main-title {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}
#header {
    margin-top:10px;
    display:flex;
    margin-bottom: 100px;
}
#header > .logo{
    margin-right: auto;
}
#header > .logo {
    font-size: 24px;
    font-weight: 700;
}
#header > .links {
    display:flex;
}
.links > * {
    margin: 12px;
    margin-right: 0px;
}
.one {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    flex: 1 1 auto;
}
.one > .title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;

}
.one > .list {
    display:flex;
    height:200px;
    justify-content: space-between;
}
.one > .list > * {
    display:flex;
    flex-direction: column;
    width: 150px;
}
.list > * > .text {
    margin-top: 10px;
    text-align: center;
}
.one > .list > * > .box {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3772F6;
    border-radius: 10px;
}
.two {
    padding:100px;
    padding-left: 250px;
    padding-right: 250px;
    flex: 1 1 auto;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
}
.two > .author {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}
.three {
    display: flex;
    flex: 0.7 1 auto;
    height:auto;
    color: auto;
    background-color: #3772F6;
    margin-left:250px;
    margin-right:250px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}
.three > .box {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}
.three > .box > .sign-up {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.three > .box > .content {
    width:420px;
}
.three > .box > .content > * {
    color: white;
}
.three > .box > .content > .title {
    font-size: 20px;
    font-weight: 700;
}
#footer {
    display:flex;
    height:75px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;

}
.sign-up {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color:#3772F6;
    color: white;
    width: 120px;
    height:30px;
    border-radius: 5px;
}